@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lobster);
*{margin:0;
  padding:0;}

header,main,nav,footer {width:100%;
                        max-width:1600px;
                        min-width:150px;
}
body{
    width:1100px;
    height:700px;
    background:url(../img/fondo2.jpg);
    margin:auto;

}
header{
    width:950px;
    height:170px;
    background:url(../img/cajero.jpg);
    margin:auto;
    position:relative;

}
nav{
    width:770px;
    height:80px;
    background:#cae8ac;
    margin:auto;
    padding:0 0 0 180px ;


}
ul{

}
main{
    width:950px;
    height:460px;
    background:#CCC;
    margin:auto;

}
footer{
    width:950px;
    height:50px;
    background:#666;
    margin:auto;
}
section{
    width:550px;
    height:420px;
    background:#FF9;
    float:left;
    margin-left:25px;
    margin-top:20px;
}
#eltitu{
    font-family:'armalite_rifleregular';
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-bottom-color:#F90;
    color:#F90;
    font-size:17px;
    margin-bottom:25px;}
#prime{
    font-size:20px;
    color:#F90;
    font-weight:bold;
    margin-bottom:15px;
}
#elter{
    font-family: 'Lobster', cursive;
    font-size:16px;
    color:#CCC;
    font-weight:bold;
    margin-bottom:15px;

}
#elparra{
    border:solid;

    border-bottom-color: #ff0000;
    margin-bottom:30px;
}
#pirre{
    font-size:13px;
    border-bottom-style: dotted;
    border-bottom-color: #666;
    margin-bottom:30px;
    padding-bottom:20px;
} 
aside{
    width:283px;
    height:390px;
    background:#cae8ac;
    float:right;
    margin-right:32px;
    margin-top:20px;
    padding:15px;
}
.pie{
    color:#FFF;
    text-align:right;
    margin-right:25px;
    font-size:11px;
    font-family:"Arial Black", Gadget, sans-serif;
}
nav li{
    list-style-type:none;
    background-color:#7cc72c;
    /*border:1px solid #000;*/
    width:100px;
    height:35px;
    float:left;
    margin-right:10px;
    margin-top: 24px;
    text-align:center;
    line-height:34px;
}	
/*nav li:hover{
  background:red;
  margin: 3px;
}*/
nav li a{
    text-decoration:none;
    display:block;
    color:#FFF;
}
/*nav li a:link{color:#FFF;}*/
nav li a:visited{color:#FF9;}
nav li a:hover 
{
    color:green;
    text-decoration:underline;
}
/*nav li a:active{color:ligthblue;}

}	
*/

@font-face {
    font-family: 'armalite_rifleregular';
    src: url('fuente/armalite_rifle-webfont.eot');
    src: url('fuente/armalite_rifle-webfont.eot?#iefix') format('embedded-opentype'),
        url('fuente/armalite_rifle-webfont.woff') format('woff'),
        url('fuente/armalite_rifle-webfont.ttf') format('truetype'),
        url('fuente/armalite_rifle-webfont.svg#armalite_rifleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
